:root{ 
    --blog-background-color : #B07CF7; 
}


.blog { 
    max-height: 850px;
    height: 100vh;
    width: 100vw;
    background-color: var(--blog-background-color);
    display: grid;
    grid-template-columns: 1; 
    grid-template-rows: 15%  10%  1fr 15%;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.blog-description { 
    width: 40%;
    height: 20%;

}

.blog-tittle { 
    font-size: 2em ;
    color: white;
    margin-bottom: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    text-align: center;
}

.blog-paragraph { 
    font-size: .5em;
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
grid-column: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    

}

.blog-gallery_container {
    /* background-color: gray; */
    width: 90%;
    height: 80%;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }

 .gallery-item { 
     height: 70%;
     width: 25%;
     background-color:red;
     margin: 10px;
     box-shadow: 0 0 6px 3px black;
     position: relative;
 }

 .blog-button { 
     grid-row-start: 4;
     grid-row-end: 5;
     width: 200px;
     height: 55px;
     background-color:#F72B3B;
     color: white;
     font-size: .8em;
     border: none;
     font-weight: 200;
     box-shadow: 0 0 3px black; 
 }

 .item-one{
     background-image: url('../assets/img-3.png');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
  }
  .item-two{
    background-image: url('../assets/img-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .item-three{
    background-image: url('../assets/img-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }


 .gallery-callendar { 
     background-color: rgba(0,0,0,.4);
     border-radius: 20%;
     width: 20%;
     height: 20%;
     position: absolute;
     top: 5%;
     left: 5%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }

 .gallery-callendar span { 
     font-size: .6em;
     font-weight: bold;
 }

 .gallery-background { 
     width: 100%;
     height: 35%;
     position: absolute;
    top: 65%;
    background-color:rgba(0,0,0,.4);
 }

 .gallery-item_tittle { 
     color: white;
     font-size: .5em;
     position: absolute;
     top: 5%;
 }

 .gallery-item_date { 
     color: white;
     font-size: .3em;
     font-weight: 300;
     position: absolute;
     top: 80%;
    left: 5%;
 }

 @media(max-width: 800px){ 

    .blog { 
        height: 150vh;
    }
    .blog-gallery_container {
   flex-direction: column;
   height: 95%;
   margin-top: 50px;
        
        
     }  
     .blog-description{ 
         width: 80%;
     }

     .gallery-item{ 
         width: 60%;
         height: 70%;
         max-width: 250px;
     }
 }